<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="749ec45a-74f5-4858-846d-86a91a819001" Publisher="CN=pepinat" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BezyFreebMetro</DisplayName>
    <PublisherDisplayName>pepinat</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BezyFreebMetro.App">
      <m2:VisualElements DisplayName="BezyFreebMetro" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="BezyFreebMetro" ForegroundText="light" BackgroundColor="#ccbd1c">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ccbd1c" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>