<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BezyFB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <BezyFB.Properties.Settings>
      <setting name="AppName" serializeAs="String">
        <value>BezyFreeb</value>
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value>Beta</value>
      </setting>
      <setting name="AppId" serializeAs="String">
        <value>fr.freebox.bezyfreeb</value>
      </setting>
      <setting name="TokenFreebox" serializeAs="String">
        <value />
      </setting>
      <setting name="IpFreebox" serializeAs="String">
        <value>http://mafreebox.freebox.fr</value>
      </setting>
      <setting name="PathVideo" serializeAs="String">
        <value>Disque dur/Vidéos</value>
      </setting>
      <setting name="LoginBetaSerie" serializeAs="String">
        <value />
      </setting>
      <setting name="PwdBetaSerie" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginEzTv" serializeAs="String">
        <value />
      </setting>
      <setting name="PwdEzTv" serializeAs="String">
        <value />
      </setting>
    </BezyFB.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>